.pagination{
    grid-area: pagination;
    border: 4px solid black;
    border-radius: 30px;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.page-item{
    list-style: none;
    margin:1% 3%;
    cursor: pointer;
}
