.card{
    text-align: center;
    padding: 15px;
    width: 33%;
}
a{
    text-decoration: none;
    color:#000;        /* Unvisited link  */
    a:visited {color:#000;} /* Visited link    */
    a:hover {color:#000;}   /* Mouse over link */
    a:active {color:#000;} 
}
.img-card{
     width:70%;
}
