.Navbar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-weight: 900;
}
.u-list{
    display: flex;
    justify-content: space-between;
    margin:0 2rem;
}
.List-item{
    list-style: none;
}


.dropdown {
    overflow: hidden;
    padding: 0;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    border-bottom: 1px solid black;
    top: 22px;
    z-index: 111;
  } 
  .dropdown:hover .dropdown-content{
    margin-top: 17px;
    border: 1px solid black 0;
    display: block;
  }