.features{
    display: grid;
    padding: 20px;
    margin-top: 45px;
    margin-top: 100px;
    max-width: 1100px;
}
.wedding-tools{
    display: grid;
    margin-top: 45px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.features h3 {
    text-align: center;
    margin: 0;
    text-align: center;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
}

.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.feature-icon{
    margin-right:20px;
}
.feature a{
    display: block;
    color: #024d4c;

}
.feature h4{
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.39;
    letter-spacing: .7px;
}


@media(max-width:769px){
    .features{
       display: flex;
       flex-direction: column;
       align-content: center;
       font-size: 10px;

    }
    .wedding-tools{
        display: grid;
        margin-top: 45px;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr ;
        text-align: center;
    }
    .feature{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}

@media(max-width:450px){
    .features{
        display: flex;
        flex-direction: column;
        align-content: center;
        font-size: 20px;

     }
     .wedding-tools{
         display: grid;
         margin-top: 45px;
         grid-template-rows: 1fr;
         grid-template-columns: 1fr;
         text-align: center;
     }
     .feature{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
     }
 

}