.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: black;
    margin-top: 20px;
}
.footer-section{
    color: white;
    display: block;
}